
*.key

# CMake
/build*/
/Bin/
CMakeUserPresets.json

/ProcessHacker/KSystemInformer/.vs
/ProcessHacker/kphlib/obj
/ProcessHacker/KSystemInformer/ksidll/obj
/ProcessHacker/KSystemInformer/obj
/MiscHelpers/x64
/qextwidgets/GeneratedFiles
/qextwidgets/x64
/qhexedit/src/GeneratedFiles
/qtservice/qtservice/qtservice/x64
/qtsingleapp/qtsingleapp/qtsingleapp/x64
/qwt/qwt/x64
/TaskExplorer/GeneratedFiles
/TaskExplorer/x64

# Local build output and logs
/ProcessHacker/bin/
/ProcessHacker/build-cmake/
/ProcessHacker/kphlib/bin/
/ProcessHacker/phlib/bin/
/ProcessHacker/phlib/obj/
/ProcessHacker/tools/peview/obj/
/ProcessHacker/tools/thirdparty/bin/
/ProcessHacker/tools/thirdparty/obj/
/logs/
